<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>General User Page</title>
</head>
<body th:style="'background: url(' +'/img/image2.jpg'+ ');'">
<div style="color: chocolate;font-size: larger;display: inline-block" >
    <label th:text="${session.Username}+'欢迎您！'"></label>
    <a href="Changepwd" th:style="'background: url(' +'/img/image2.jpg'+ ');'">
    <button type="submit" style="color: darkgreen;background: chocolate"  >修改密码</button></a>
<button style="color: darkgreen;background: chocolate"> 注销</button>
</div>
<div style="margin-top: 30px"></div>
<div style="display:inline-block" >
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <label><input style="width: 400px;height: 25px " type="text" id="SearchVideo" name="SearchVideo" maxlength="255" ></label>
   <input style="font-size: large;color: darkgreen;background: chocolate;height: 40px" type="button" id="Search" name="Search" value="搜索">
</div>
<label><input type="text"  id="usedname" name="usedname" th:value="${session.Username}" style="visibility: hidden"></label>
<script type="text/javascript">
    var middlename=document.getElementById("usedname").value;
    console.log(middlename);
    localStorage.changename=middlename;
</script>
</body>
</html>