<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>General User Page</title>
</head>
<body th:style="'background: url(' +'/img/image2.jpg'+ ');'">
<div style="color: chocolate;font-size: larger;display: inline-block" >
    <label th:text="${session.Username}+'欢迎您！'"></label>
    <a href="Changepwd" >
    <button type="submit" style="color: darkgreen;background: chocolate"  >修改密码</button></a>
  <!--  <a href="login">-->
<a class="button" style="color: darkgreen;background: chocolate;font-size: medium" th:href="@{/user/logout}"> 注销</a><!--</a>-->
</div>
<!--<div id="msg" style="text-align: center;color: black;font-size: larger"></div>-->
<div style="margin-top: 30px"></div>
<div style="display:inline-block" >
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <label><input style="width: 400px;height: 25px " type="text" id="SearchVideo" name="SearchVideo" maxlength="255" required></label>
   <input style="font-size: large;color: darkgreen;background: chocolate;height: 40px" type="button" id="Search" name="Search" value="搜索">
    <a href="Uploadvideo">
    <input style="font-size: large;color: darkgreen;background: chocolate;height: 40px" type="button" id="upload" name="upload" value="上传视频">
    </a>
</div>
<label><input type="text"  id="usedname" name="usedname" th:value="${session.Username}" style="visibility: hidden"></label>
<script type="text/javascript">
    var middlename=document.getElementById("usedname").value;
    console.log(middlename);
    localStorage.changename=middlename;
</script>
<label><input type="text"  id="uploadstatus" name="uploadstatus" th:value="${session.uploadstatus}" style="visibility: hidden"></label>
<script type="text/javascript">
    var uloadobject=document.getElementById("uploadstatus")
    if (uloadobject!=null) {
        var uploadvalue = document.getElementById("uploadstatus").value;
        console.log(uploadvalue);
        if (uploadvalue == 1) {
            alert("文件上传失败！");

        }
        if (uploadvalue == 2) {
           /* document.getElementById("msg").innerHTML = "文件上传成功！";
            document.getElementById("msg").style.visibility = "visible";*/
            alert("文件上传成功！");
        }
    }
</script>
<!--<script th:inline="javascript">
    var uloadobject=document.getElementById("uploadstatus")
    if(uloadobject!=null) {
        var uploadstatus='[[${session.uploadstatus}]]';
        console.log(uploadstatus);
        document.getElementById("uploadstatus").value=uploadstatus;
        var uploadvaule= document.getElementById("uploadstatus").value;
        console.log(uploadvaule);
        var com1='"1"';
        console.log(com1);
        var com2='"2"';
        console.log(com2);
        if (uploadvaule == com1) {
            alert("文件上传失败！");
            document.getElementById("uploadstatus").value="";
        }
        if (uploadstatus == com2) {
            alert("文件上传成功！");
            document.getElementById("uploadstatus").value="";
        }
    }
</script>-->
<div style="margin-top: 70px"></div>
<div style="text-align: center">
<span id="showpic" style="font-size: larger;text-align: center">图片加载中。。。。</span>
</div>
<div id="dispic">
    <table id="tab" style="margin:0 auto">
        <tr>
        <td>
            <a id ="videopath1" target="_blank">
              <!--  <div id="imgpath">
                 &lt;!&ndash;   <img th:src="@{'../UploadFiles/images/1603163668686.JPG'}" width="600" height="400" style="border-style: solid">&ndash;&gt;
                </div>-->
            <img id="textimg1" width="400" height="300" >
            </a>
        </td>
            <td>
                <a id ="videopath2" target="_blank">
                    <!--  <div id="imgpath">
                       &lt;!&ndash;   <img th:src="@{'../UploadFiles/images/1603163668686.JPG'}" width="600" height="400" style="border-style: solid">&ndash;&gt;
                      </div>-->
                    <img id="textimg2" width="400" height="300">
                </a>
            </td>
            <td>
                <a id ="videopath3" target="_blank">
                    <!--  <div id="imgpath">
                       &lt;!&ndash;   <img th:src="@{'../UploadFiles/images/1603163668686.JPG'}" width="600" height="400" style="border-style: solid">&ndash;&gt;
                      </div>-->
                    <img id="textimg3" width="400" height="300" >
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a id ="videopath4" target="_blank">
                    <!--  <div id="imgpath">
                       &lt;!&ndash;   <img th:src="@{'../UploadFiles/images/1603163668686.JPG'}" width="600" height="400" style="border-style: solid">&ndash;&gt;
                      </div>-->
                    <img id="textimg4" width="400" height="300">
                </a>
            </td>
            <td>
                <a id ="videopath5" target="_blank">
                    <!--  <div id="imgpath">
                       &lt;!&ndash;   <img th:src="@{'../UploadFiles/images/1603163668686.JPG'}" width="600" height="400" style="border-style: solid">&ndash;&gt;
                      </div>-->
                    <img id="textimg5" width="400" height="300" >
                </a>
            </td>
            <td>
                <a id ="videopath6" target="_blank">
                    <!--  <div id="imgpath">
                       &lt;!&ndash;   <img th:src="@{'../UploadFiles/images/1603163668686.JPG'}" width="600" height="400" style="border-style: solid">&ndash;&gt;
                      </div>-->
                    <img id="textimg6" width="400" height="300" >
                </a>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript"  th:src="@{'../js/jquery-3.3.1.min.js'}"></script>
<script type="text/javascript">
 /*   function sleep(delay)
    {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    }*/
$(document).ready(function getpathlist(){
        $.ajax({
            url: "http://localhost:8080/picPath",
            type: "get",
            dataType: "json",
            async: true,
            beforeSend:function ()
            {  $("#showpic").show();
                $("#dispic").hide();
                },
            success: function (data)
            {
                var str="";
                console.log(data);
               var datalength=data.length;
               var midlegth=datalength/2;
               console.log(datalength);
                console.log(midlegth);
                if(midlegth<7 ){
                    for (var i = 0; i < midlegth; i++) {
                        var a = data[i];
                        console.log(i);
                        var j = i + midlegth;
                        var h=i+1;
                        var b=data[j]
                        console.log(a);
                        console.log(b);
                        var result = a.replace(/\\/g, "/");
                        var videoresult = b.replace(/\\/g, "/");
                        console.log(result);
                        var c="../" + result;
                        console.log(c);
                        var videolink="http://localhost:8080/"+videoresult;
                        $("#textimg"+h).attr('src',c);
                        $("#videopath"+h).attr('href',videolink);
                    }


                }
                else{
                    var h=1;
                    for(i=midlegth-1;i>midlegth-7;i--)
                    {
                        var a = data[i];
                        console.log(i);
                        var j = i + midlegth;
                        var b=data[j];
                        console.log(a);
                        console.log(b);
                        var result = a.replace(/\\/g, "/");
                        var videoresult = b.replace(/\\/g, "/");
                        console.log(result);
                        var c="../" + result;
                        console.log(c);
                        var videolink="http://localhost:8080/"+videoresult;
                        $("#textimg"+h).attr('src',c);
                        $("#videopath"+h).attr('href',videolink);
                        h=h+1;
                        console.log(h);

                    }
                }
                  /* for (var i = 0; i < midlegth; i++) {
                       var a = data[i];
                       var j=i+midlegth;
                       var b=data[j]
                       console.log(a);
                       console.log(b);
                       var result = a.replace(/\\/g, "/");
                       var videoresult = b.replace(/\\/g, "/");
                       console.log(result);

                      //  str="<tr><td>"+data[i]+"</td>></tr>";
                          $("#tab").append(str);
                       // str="<img "+"th:src=\"@{'../"+result+"'}\""+" "+"width=\"600\" height=\"400\" style=\"border-style: solid\">";
                      // str = "<img " + "src=\"../" + result + "\"" + " " + "width=\"600\" height=\"400\" style=\"border-style: solid\">";
                           str = "<a href=\""+"http://localhost:8080/"+videoresult+"\"></br>"+"<img " + "src=\"../" + result + "\"" + " " + "width=\"600\" height=\"400\" style=\"border-style: solid\">"+"</a>";
                           console.log(str);
                       $("#imgpath").append(str);
                     /!*  var c="../" + result;
                       console.log(c);
                       var videolink="http://localhost:8080/"+videoresult;
                     //  $("#textimg").src="\"../" + result + "\"";
                       $("#textimg").attr('src',c);
                       $("#videopath").attr('href',videolink);*!/


                   }*/



            },
            complete: function (){
                $("#showpic").hide();
                $("#dispic").show();
                $("#uploadstatus").attr('value',"7");
            },
            error: function (xhr, textStatus, errorThrown){
                alert("ajax连接异常：");
             /*   alert("状态码："+xhr.status);
                alert("状态:"+xhr.readyState);*/
                alert("错误信息:"+xhr.statusText );
             /*   alert("返回响应信息："+xhr.responseText );
                alert("请求状态："+textStatus);
                alert(errorThrown);*/

            }

            }
        );

    });


</script>


</body>
</html>