<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<script  type="text/javascript">
    function checkpwds()
    {
        var pd=document.regfrom.ReUserpwd.value;
        var conpd=document.regfrom.ReconUserpwd.value;
      console.log(pd);
      console.log(conpd);
        if(pd!=conpd)
        {
            document.getElementById("msg").innerHTML="The twice input password are not same! please reinput!";
            document.regfrom.ReconUserpwd.focus();
            document.getElementById("msg").style.visibility="visible";
            return  false;
        }
        else {

            document.getElementById("msg").style.visibility="hidden";
        }
    }
</script >
<script type="text/javascript" src="/js/register.js"></script>

<!--<script th:inline="javascript" >
    function checkusername()
    {
        var inserinfoname='[[${session.ReUsername}]]';
        console.log(inserinfoname);
        if(inserinfoname==null || inserinfoname=="")
        {
           alert("用户名已存在，请重新输入！")

            /*document.getElementById("meassage").innerHTML="用户名已存在，请重新输入！";
            document.regfrom.ReUsername.focus();
            document.getElementById("meassage").style.visibility="visible";*/
            return  false;
        }
        else {
            alert("用户可用！")

            //document.getElementById("meassage").style.visibility="hidden";
            return false;
        }
    }


</script>-->
<body th:style="'background: url(' +'/img/image1.jpg'+ ');'">
<p style="text-align: right;font-size: x-large;color:darkolivegreen"><b>Welcome to Our Website!</b></p>
<p style="color: red;text-align: center;">The inputed username is not existed!Please register first!</p>
<div style="width: 100%;height: 100%;text-align: center;margin-top: 60px">
    <form role="form" action="/RegisterUser" method="post" name="regfrom">
        <div style="text-align: center">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp UserName ：<label><input type="text" id="ReUsername" name="ReUsername" onblur="CheckUserName()" style="font-size: larger" maxlength="12" onkeyup="value=value.replace(/[^bai\w]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\w]/g,''))" required> </label><br>
            <div id="meassage" style="color: red"></div>
            <p></p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPassword ：<label><input type="text" id ="ReUserpwd" name="ReUserpwd"  style="font-size: larger"  minlength="6" maxlength="6" required ></label><br>
            <p></p>
            ConfirmPassword ：<label><input type="text" id ="ReconUserpwd" name="ReconUserpwd" onchange="checkpwds()" style="font-size: larger" minlength="6" maxlength="6" required></label><br>
            <p></p>
            <p></p>
            <div id="msg" style="color: red"></div>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="submit" id="register" value="Register" style="font-size: larger;color: darkgreen;background: chocolate" >
        </div>
    </form>
</div>
</body>
</html>