<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanjiuyuan.videowork.dao.LearnVideoMapper">
    <select id="getlearnvideolist" resultType="String">
        SELECT img_path FROM videoinfos where video_type=#{video_type}
        UNION
        SELECT video_path FROM videoinfos where video_type=#{video_type}
        UNION
        SELECT videoname FROM videoinfos where video_type=#{video_type};
    </select>

</mapper>