<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanjiuyuan.videowork.dao.UpdatePwdMapper">
    <select id="updateInfo" parameterType="com.yanjiuyuan.videowork.entity.UserBean" resultType="com.yanjiuyuan.videowork.entity.UserBean">
        Update videousers set Userpwd=#{Userpwd} where Username= #{Username};
    </select>

</mapper>