<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanjiuyuan.videowork.dao.UserMapper">
    <select id="getInfo" parameterType="com.yanjiuyuan.videowork.entity.UserBean" resultType="com.yanjiuyuan.videowork.entity.UserBean">
    SELECT * FROM videousers WHERE Username = #{Username} AND Userpwd = #{Userpwd}
    </select>

</mapper>